{
  "plugins": ["transform-object-rest-spread"],
  "presets": [["es2015", { "loose": true, "modules": false }]],
  "env": {
    "cjs": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    },
    "es": {
      "plugins": ["./build/use-lodash-es"]
    },
    "rollup": {
      "plugins": ["./build/use-lodash-es", "external-helpers"]
    },
    "test": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    }
  }
}
